{{> heads}}

{{> navbar}}

<div class="row">
<div class="col-8">
<h1>S U P E R M A N</h1>
<P>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, assumenda ipsum? Blanditiis mollitia debitis sapiente atque beatae quo molestiae natus animi. Odio aut earum nemo commodi illum excepturi esse numquam.
</P>
</div>
<div class="col-4">
    <img src="assets/img/Superman.png" class="img-thumbnail">


</div>

</div>

{{> footer }}